<h1>Dashboard Page!</h1>
<h3>Welcome, {{session.fname}} {{session.lname}}. User_ID: {{session.user_id}}!</h3>
<p>View, Edit, or Upload your latest recipes!</p>

<hr>
<h2>Your Recipes:</h2>
{{#each recipeArr}}
<div class="recipeGroup">
    <h4>{{recipe_name}}</h4>
    <p>{{description}}</p>
    <p>{{date_created}}</p>

    {{!-- new each function for all ingredients --}}
    <h6>Ingredients</h6>
    <hr>
    {{#each ingredients}}
    <div class="ingredients">
        <p>{{this.item}} - {{this.qty}}</p>
    </div>
    {{/each}}

    <h6>Instructions</h6>
    <hr>
    <p>Insert Recipe Instructions here:</p>
</div>

    <img class="image-upload" src="/uploads/{{images.[0].filePath}}" alt="delish">
<hr>
{{/each}}

{{!-- make anotehr one with the same shit and see if it works --}}