{{!-- Title and Description Modal --}}
<div class="modal fade" id="title-desc-modal" tabindex="-1" aria-labelledby="title-desc-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="title-desc-modal">Update Name & Description:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-group form-group-modal">
                    <label for="newRecipeName">New Recipe Name:</label>
                    <textarea class="edit-area" id="newRecipeName">{{recipe_name}}</textarea>
                </div>

                <hr>

                <div class="form-group form-group-modal">
                    <label for="newRecipDesc">New Recipe Description:</label>
                    <textarea class="edit-area" id="newRecipeDesc">{{description}}</textarea>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="{{id}}" type="button" class="btn btn-primary save-title-desc">Save changes</button>
            </div>
        </div>
    </div>
</div>

{{!-- Ingredients Modal --}}
<div class="modal fade" id="ingredients-modal" tabindex="-1" aria-labelledby="ingredients-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ingredients-modal">Update Ingredients:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <ul class="ingredients-entry-container ingredients-modal">

                    <div class="ingredient-entry row">
                        <p class="col col-8 recipe-item">Ingredients</p>
                        <p class="col col-4 recipe-qty">Qty</p>
                    </div>

                    {{#each ingredients}}
                    <li class="list-group-item">
                        <div class="ingredient-entry row">
                            <input type="text" class="recipe-item col col-8" value="{{this.item}}">
                            <input type="text" class="recipe-qty col col-4" value="{{this.qty}}">
                        </div>
                    </li>
                    {{/each}}
                </ul>

            </div>
            <div class="modal-footer">

                <div class="add-recipe-fields-group">
                    <button class="btn btn-secondary add-1-recipe-item">Add x1</button>
                    <button class="btn btn-secondary add-5-recipe-item">Add x5</button>
                </div>

                <div class="closing-buttons">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="{{id}}" type="button" class="btn btn-primary save-ingredients">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Instructions Modal --}}

<section id="single-page-recipe-title-section">

    <div class="title-header-info">
        <div class="header-text">
            <h1>{{recipe_name}}</h1>
            <p>{{description}}</p>

        </div>
        <div class="edit-icons">
            <i id="{{id}}" class="fa-solid fa-pen-to-square edit-button edit-title-desc" data-bs-toggle="modal"
                data-bs-target="#title-desc-modal"></i>
        </div>
    </div>

</section>

<hr>

<section id="single-page-ingredients-section">

    <div class="ingredients-wrapper">
        <div class="title-header-info">
            <div class="header-text">
                <h2>Ingredients</h2>
            </div>
            <div class="edit-icons">
                <i id="{{id}}" class="fa-solid fa-pen-to-square edit-button edit-title-desc" data-bs-toggle="modal"
                    data-bs-target="#ingredients-modal"></i>
            </div>
        </div>
        <ul>
            {{#each ingredients}}
            <li>{{this.item}} - {{this.qty}}</li>
            {{/each}}
        </ul>
    </div>

</section>

<hr>

<section id="single-page-instructions-section">

    <div class="instructions-wrapper">
        <div class="title-header-info">
            <div class="header-text">
                <h2>Instructions</h2>
            </div>
            <div class="edit-icons">
                <i id="{{id}}" class="fa-solid fa-pen-to-square edit-button"></i>
            </div>
        </div>
        <ol>
            {{#each instructions}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>

</section>

<hr>

<section id="all-images-section">
    <div class="title-header-info">
        <div class="header-text">
            <h2>Images</h2>
        </div>

    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {{#each images}}
        <div class="col">
            <div class="card image-card">
                <img src="/uploads/{{this.filePath}}" class="card-img-top" alt="...">
                <i id="{{id}}" class="fa-sharp fa-solid fa-xmark image-delete-button"></i>
            </div>
        </div>
        {{/each}}
    </div>

    {{!-- button to add more photos --}}
    <form class="form-image-upload" method="POST" action="/api/users/single-page-images-upload/:id"
        enctype="multipart/form-data">

        <div class="form-group">
            <label>Add Additonal Photos</label>
            <input id="upload-files" type="file" name="profile-files" required multiple />
        </div>

        <div class="form-group">
            <input class="single-page-upload" type="submit" value="Upload" />
        </div>
    </form>

</section>

<script src="/js/singlePage.js"></script>